* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
i {
  color: white;
}
#contenedor-carrousel_items {
  height: 270px;
  width: 20%;
  margin-left: 40%;
  overflow: hidden;
}
.item-carrousel {
  position: relative;
  height: 100%;
}
.tarjeta-carrousel {
  height: 100%;
}
/*Iconos- flechas*/
.flechas-carrousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 20px;
  height: 100%;
  width: 100%;
}
#contenedor-carrousel_puntos {
  background-color: rgba(194, 194, 194, 0.349);
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-left: 40%;
}
#contenedor-carrousel_puntos > a {
  font-size: 1.5em;
  font-size: none;
  color: black;
}
img {
  width: 100%;
  height: 100%;
}
